<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" " http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruizhiqi.dao.StudentDAO">

    <resultMap id="s1" type="com.ruizhiqi.entity.Student">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="birdate" property="birdate"/>
        <association property="clazz" javaType="com.ruizhiqi.entity.Clazz">
            <id column="id" property="id"></id>
            <result column="className" property="className"/>
        </association>
    </resultMap>


    <select id="showAll" resultMap="s1">
        select tc.*,ts.*
        from t_clazz tc left join t_student ts
        on tc.id=ts.clazzId
    </select>


</mapper>
