<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" " http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruizhiqi.dao.TitleContentDAO">


    <insert id="insert" parameterType="TitleContent">
        insert into t_titlecontent_copy(id,title,content,creativeName,type)
        values(#{id},#{title},#{content},#{creativeName},#{type})
    </insert>


</mapper>
